.menu{
  width: 100%;
  background-color: #fdd94e;
  text-align: center;
  padding: 14px 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.menu a{
    flex: 1;
    display:flexbox;
    color: black;
    text-align: center;
    padding: 7px 8px ;
    text-decoration: none;
}

.menu a:hover{
    color: black;
}

#menus{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif ;
}



.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height: 200px;
  background-color: #222831;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
    background-color: #222831;
  }
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background-color: #5dc7d0 !important; 
}

body > .container-fluid{
  flex: 1;
}

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif ;
    color: #EEEEEE;
}

p, .Categorias, ul{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif ;
    color: #ffffff;
    text-align: center;
}

.recuadro{
    background-color: #43546a !important;
}
/*Recuadros Index Explicativos*/
.well{
    width: 350px;
    height: 80px;
    margin: 20px;
    padding: auto;
    color: #333630;
    text-align: center;
    background-color: #43546a;
}

.Color-text{
  color: #9899A0;
}
/*------------------------------------------*/
.imgcentral{
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.img-responsive{
  width: 60%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/*Pie de Pagina*/
.pie{
    color: #000000;
}

.container-fluid{
  background-color: #187f3f;
}
footer {
  margin-top: auto;
  padding: 25px;
}
/*-------------------------------------------*/
.Categorias{
  color: #000000;
}

.btn-primary{
  background-color: #43546a  !important;
  color: #9899A0;
}

.actualizar{
  margin: 20px;
}

.Separaion{
  margin-top: auto;
}